table {
    border-collapse: collapse;
}

td {
    padding: 12px;
}

img {
    width: 100px;
}

.even {
    background-color: beige;
}

.search-form {
    margin: 20px 0;
  
    .input-group {
      max-width: 500px;
    }
  
    .form-control {
      border-radius: 4px 0 0 4px;
    }
  
    .btn {
      border-radius: 0 4px 4px 0;
    }
  }